@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

::placeholder {
  color: #C3C2CF;
}

.emails-block {
  * {
    color: #050038;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  border: 1px solid #C3C2CF;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  overflow: auto;
  height: 96px;
  padding: 8px;
}

.emails-input {
  border: 0;
  padding: 0;
  flex: 1;
  line-height: 24px;
}

.email-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 4px;

  &--valid {
    padding: 3px 8px;
    background: rgba(102, 153, 255, 0.2);
    border-radius: 100px
  }

  &--invalid {
    padding: 3px 0;
    border-bottom: 1px dashed #D92929;
  }

  &__text {
    line-height: 1;
    flex: 1;
    margin-right: 8px;
  }

  &__remove-button {
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 18px;
    padding: 0;
  }
}
